body {
    justify-content: center;
    background-color: #2b63ca;
    margin: 0px;
}

.title {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.container{
    position: absolute;
}

.face {
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flexbox;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #f8c211;    
}

.eye-space-right{
    left: 0%;
    top: 0%;
    width: 200px;
    height: 200px;
    position: relative;
}

.eye-space-left {
    left: 50%;
    top: -50%;
    width: 200px;
    height: 200px;
    position: relative;
}

footer{
    height: 0px;
    position: relative;
    color: white;
    font-family: 'My Soul', cursive;
    margin: 0px;
}